<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Centro de estudiantes ET 17 DE 13 Brig. Gral. Cornelio Saavedra- Inicio de sesion</title>
	<link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet">	
	<link rel="icon" type="image/x-icon" href="/logo.png">
	<link rel="author" href="Ignacio Fernandez">
</head>

<body class="text-center">

	<main class="form-signin w-100 m-auto">
		<form action="/login" method="POST">
			<img class="mb-4" src="/logo.png" alt="" width="80" height="80">
			<h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>
			
				<div class="alert alert-danger" role="alert">
				  <%= msg %>
				</div>
			
			<div class="form-floating">
				<input type="text" class="form-control" id="user" name="user" required="">
				<label for="floatingInput">Usuario</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="pass" name="pass" required="">
				<label for="floatingPassword">Contraseña</label>
			</div>

			<button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar</button>
			<p class="mt-5 mb-3 text-muted">© 2023 Centro de estudiantes - ET17DE13</p>
		</form>
	</main>
</body>
<style>
html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

</style>
</html>