<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Centro de estudiantes ET 17 DE 13 Brig. Gral. Cornelio Saavedra</title>
	<link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet">	
	<link rel="icon" type="image/x-icon" href="/logo.png">
	<link rel="author" href="Ignacio Fernandez">
</head>
<body>
	<div class="container sticky-top bg-white">
		<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<img src="/logo.png" alt="logo" width="50" height="50">
				<span class="fs-4"></span>
			</a>

			<ul class="nav nav-pills">
				<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Inicio</a></li>
				<li class="nav-item"><a href="#noticias" class="nav-link">Noticias</a></li>
				<li class="nav-item"><a href="#actas" class="nav-link">Actas</a></li>
				<li class="nav-item"><a href="#estatuto" class="nav-link">Estatuto</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
			</ul>
		</header>
	</div> 
	
</body>
</html>